@import "./colors";
@import "./fonts";

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: $orange-color;
}

.container {
  width: 80%;
  padding: 20px;
  background: $main-color;

}



  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    gap: 30px;

  }

     .wrapper .box {
      width: 90%;
      position: relative;
      padding: 15px;
}

  .wrapper .box input {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $black-color;
  transition: 0.5s linear;
}


.wrapper .box input:focus{
   padding: 10px 5px;
   background: $gray-color;
   margin-top: 5px;
   
}

.wrapper .box label {
  position: absolute;
  top: 0;
  left: 0;
  color: $black-color;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  font-family: $font-roboto;

}